@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$Cyan: hsl(179, 62%, 43%);
$BrightYellow: hsl(71, 73%, 54%);
$LightGray: hsl(204, 43%, 93%);
$GrayishBlue: hsl(218, 22%, 67%);

*,
*::before,
*::after{
	box-sizing: border-box;
	font-size: inherit;
}
html{
	font-family: karla, helvetica, sans-serif;
	font-size: 16px;
	@media screen and (min-width: 700px) {
		font-size: 1.1rem;
	}
}
body{
	margin: 4.5rem 2rem;
	background-color: $LightGray;
	text-rendering: optimizeLegibility;
		@media screen and (min-width: 700px){
			margin-top: 9rem;
		}
		
}
main{
	border-radius: 0.25rem;
	background-color: white;
	overflow: hidden;
	box-shadow: 0 0 15px -6px $GrayishBlue;
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 700px){
		max-width: 634px;
		margin-left: auto;
		margin-right: auto;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
.article{
	padding: 2rem 1.5rem;
}
.title{
	margin-top: 0;
}

.article:nth-child(1){
	.title{
		color: $Cyan;
		font-size: 1.2rem;
	}
	.title-2{
		color: $BrightYellow;
		font-size: 0.9rem;
	}
	.p{
		color: $GrayishBlue;
		font-size: 0.85rem;
		line-height: 1.5;
	}
}

.article:nth-child(2){
	color: white;
	background-color: $Cyan;
	padding-bottom: 1.5rem;
	flex: 1;
	.title{
		font-size: 1.1rem;
	}
	.title-price{
		font-size: 1.8rem;
		margin-top: 0;
		margin-bottom: 0;
		display: flex;
		align-items: center;
		span{
			font-size: 0.9rem;
			font-weight: 400;
			margin-left: 0.75rem;
		}
	}
	.p{
		margin-top: 0;
		margin-bottom: 2rem;
	}
	.button{
		display: block;
		text-align: center;
		text-decoration: none;
		font-weight: 700;
		padding: 1rem;
		color: white;
		background-color: $BrightYellow;
		border-radius: 0.25rem;
		box-shadow: 0 0 10px -4px $GrayishBlue;
	}
}
.article:nth-child(3){
	background-color: hsl(179, 47%, 52%);
	color: white;
	flex: 1;
	.title{
		font-size: 1.1rem;
		margin-bottom: 1rem;
	}
	.p{
		max-width: 12rem;
		font-size: 0.85rem;
		line-height: 1.5;
		margin-top: 0;
		margin-bottom: 0;
	}
	.list{
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		font-size: 0.85rem;
		line-height: 1.3;
	}
}